@model LibraryManagement.Models.LibraryBranch

<h2>Edit Branch</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="LibraryBranchId" class="control-label"></label>
        <input asp-for="LibraryBranchId" class="form-control" />
        <span asp-validation-for="LibraryBranchId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BranchName" class="control-label"></label>
        <input asp-for="BranchName" class="form-control" />
        <span asp-validation-for="BranchName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
