@{
    ViewData["Title"] = "Home Page";
}

<div class="background-color">
    <div class="container review-section">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <h2 class="reviewers">REVIEWS</h2>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 text-left reviewers">
                        William Shakespeare
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 text-center author text-oscar-color">
                        Oscar Wilde
                    </div>
                    <div class="col-12 text-center author-subtext text-oscar-color">
                        writer
                    </div>
                    <div class="col-12 text-center quote text-oscar-color">
                        “Be yourself; everyone else is already taken.”
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 offset-md-8 col-md-4 text-right reviewers">
                        Mark Twain
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 offset-md-4 col-md-8 text-right reviewers">
                        Virginia Woolf
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-10 col-md-4 text-left reviewers">
                        Ralph Waldo Emerson
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

